.menu .box-container{
    display: grid;
    padding: 10vh;
    grid-template-columns: repeat(auto-fit, minmax(38rem,1fr));
    gap: 1.5rem;
}
.menu .box-container .boxMenu{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .boxMenu .imageMenu{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .boxMenu .imageMenu img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.menu .box-container .boxMenu .imageMenu .fa-heart{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #e0c6c6;
    border-radius: 50%;
    color: var(--black);
}
.menu .box-container .boxMenu .contentMenu h3{
    color: var(--black);
    font-size: 2.5rem;
    margin-left: 1rem;
}
.menu .box-container .boxMenu .contentMenu p{
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
    margin-left: 1rem;
}
.menu .box-container .boxMenu .contentMenu .price{
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}
.menu .box-container .boxMenu .contentMenu .stars{
    color: var(--green);
    margin-left: 1rem;
    font-size: 1.7rem;
}
.menu .box-container .boxMenu .contentMenu .btn1{
    margin: 1rem;
}